
h1.tytułowa{
    color:  #db1b3b ;
    border: 2px solid black;
    text-align: center;
    font-style:top;
  }
  home-jumbo {
      background: ('/img/ga.jpg') center;
  body {
     background-color:  #eeb9aa;

.media-body {

    margin-left: 12px;

}
input{display: none;}

